<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>

<h1 class="text-center top-heading">Hollywood Movies</h1>

<!-- Show case -->
<div class="showcase container my-3">
    <h5 class="my-3">All Hollywood Movies</h5>
    <!-- Item list -->
    <div class="container my-5">
      <div class="row">

        <%data.forEach(Data=>{ %>
          <% if(Data.type === "hollywood"){ %>

            <div class="col mb-4">
              <div class="card bg-dark-light" style="width: 20rem;">
                <img src="/uploads/<%= Data.image %>" class="card-img-top" alt="movie cover" width="100%" height="200px">
                <div class="card-body">
                  <h5 class="card-title"><%= Data.name %></h5>
                  <div class="card-text">Language: <%= Data.language %></div>
                  <div class="card-text">Genre: <%= Data.category %></div>
                  <p class="card-text">Year: <%= Data.year %></p>
                  <small id="desc" class="form-text text-muted desc"><%= Data.description %></small><br>
                  <% if(Data.link == '#'){ %>
                    <a href="<%= Data.link %>" class="btn btn-outline-secondary">Comming Soon</a>
                  <% }else{ %>  
                    <a href="<%= Data.link %>" class="btn btn-outline-secondary">Download</a>
                  <% } %>
                </div>
              </div>
            </div>
            <%} %>
        <% }) %>
      </div>
    </div>
  </div>
  <!-- Show case -->


<%- include("partials/footer"); -%>